*/temp*
*/*/temp*
temp?
*.md
*.txt
*.html
.git*
*sublime*
LICENSE
Guard*
db.*
doc/*
logo*
sync*
mount*
doc/*
.bundle/*

*Dockerfile*
*docker-compose*

vendor/bundle/*
**/node_modules/*
**/log/*
**/tmp/*
!/tmp/cache/webpacker
/.idea/
/public/assets/
/public/system/
/public/storage/
/public/uploads/
/config/master.key
/config/credentials/*.key
