.gitignore
.bundle
db/*.sqlite3
db/*.sql
log/*
tmp/*
config/database.yml*
config/ldap.yml
config/secret/*
config/initializers/secret_token.rb
secret/*
spec/example_status.txt
*.0
*.rar
*.zip
*.7z
*.gz
Gemfile~
*.swp
*~
*.png
*.sublime*
files/*
public/*
coverage/*
bp1step.store/*
store/*
portal/*
svk_in/*
.sass-cache/*
mount-bp1step
.rvmrc
test*
doc/
REVISION
bin/*
