.gitignore
app/models/user.rb
app/views/devise/sessions/new.html.erb
config/initializers/devise.rb
.bundle
db/*.sqlite3
db/*.sql
db/schema.rb
log/*.log
tmp/
config/
*.0
*.rar
Gemfile.lock
Gemfile~
test
*.swp
*.haml~
*.rb~
*.yml~
*.erb~
*.css~
/app/models/user.rb.db_auth
/db/20120925.sl
/db.auth.off
/db.auth.on
