-title "Руководящие документы, Директивы, Указания"
%h1 Директива

= render 'form'
= render 'form_document'

%p
= link_to 'Show', @directive, :class => 'button'
= link_to 'Back', directives_path, :class => 'button'
