= simple_form_for(@contract) do |f|
  = f.error_notification
  = f.input :contract_type, :hint => 'Договор, Соглашение ...'
  = f.input :number
  = f.input :name, as: :text
  = f.label 'Ответственный за договор'
  = f.hidden_field :owner_id
  = f.autocomplete_field :owner_name, autocomplete_users_path
  %p
  = f.label 'Ответственный за оплату'
  = f.hidden_field :payer_id
  = f.autocomplete_field :payer_name, autocomplete_users_path
  %p
  = f.label 'Контрагент'
  = f.hidden_field :agent_id
  = f.autocomplete_field :agent_name, autocomplete_agents_path
  = f.input :status, :collection => %w[Действует Согласование НеДействует], :prompt => 'Статус дооговора', :input_html => { :value => 'Согласование'}
  = f.input :date_begin, as: :string, :input_html => {:class=>'datepicker'}
  = f.input :date_end, as: :string, :input_html => {:class=>'datepicker'}
  
  %p
  = f.label 'Основной договор'
  = f.hidden_field :parent_id
  = f.autocomplete_field :parent_name, autocomplete_contracts_path

  %p
  = f.input :description
  -#= f.input :text
  = f.input :note
  = f.input :condition
  = f.input :check

  -#-if can? :edit_contract_place, @contract - такая конструкция не работает!!!
  -if current_user.role? :keeper  # только юрист может править место хранения
    = f.input :contract_place, :hint => 'Место хранения оригиналов на бумаге (кратко: отдел папка)'
  -else
    - @contract.contract_place = '!?' if @contract.contract_place.blank?
    =  f.hidden_field :contract_place
    Место хранения оригиналов на бумаге:
    %b= link_to @contract.contract_place, contracts_path(place: @contract.contract_place), class: 'groups'

  -if can? :update, @contract
    %p
    = f.button :submit
