= simple_form_for @user_task, url: update_user_task_path, html: { validate: true } do |f|
  = f.error_notification
  = f.hidden_field :task_id
  = f.label 'Исполнитель'
  = f.autocomplete_field :user_name, autocomplete_users_path, placeholder: 'выберите ФИО исполнителя', validate: { presence: true }
  = f.input :status_boolean, as: :boolean, label: 'Отв.'
  = f.error :base
  = f.button :submit, 'Добавить Исполнителя'
