= simple_form_for(@task) do |f|
  = f.error_notification
  = f.hidden_field :author_id
  = f.hidden_field :completion_date
  = f.hidden_field :requirement_id
  = f.hidden_field :letter_id
  - if current_user.id == @task.author.id or @task.user_task.where(status: 1).pluck(:user_id).include? current_user.id
    = f.input :name, as: :text
    = f.input :description, as: :text
    = f.input :duedate, as: :string, input_html: {class: 'datepicker'}
    %br
    = f.label :Статус
    = f.select :status_name, @task_status_enabled.keys if @task_status_enabled
  - else
    %h2 Задача от #{@task.created_at.strftime('%d.%m.%Y %H:%M:%S')}
    %h3
      %b [ #{@task.name} ]
    %h3 Краткое описание:
    = simple_format(@task.description, {}, {})
    %h3
      Срок исполнения:
      - if @task.duedate
        %b= @task.duedate.strftime("%d.%m.%Y")
        - if @task.status < 90
          - days = @task.duedate - Date.current
          = " (осталось #{days.to_i} дн.)" if days > 0
          - if days <= 0
            %span{ style: "color: red;" }
              = " (опоздание #{(-days).to_i} дн.)" if days < 0
              = " сегодня!" if days == 0
      - if @task.completion_date
        [ фактически:
        %b= @task.completion_date.strftime("%d.%m.%Y")
        - if @task.status >= 90
          - days = 0
          - days = @task.completion_date - @task.duedate if @task.duedate
          - if days > 0
            %span{ style: "color: red;" }
              = " (опоздание #{days.to_i} дн.)"
        ]
  -# = render 'user' if @task.user_task.any?

  = f.hidden_field :result
  - if @task.id
    %h3 Результат исполнения:
    = f.input :action, as: :text
  = simple_format(@task.result, {}, {})

  %p
  = f.button :submit, "Сохранить"
