-#= column_chart data, id: 'graph', discrete: false
= line_chart data, discrete: true

-#= pie_chart [ ["Утвержден"=>620], ["НеДействует"=>270], ["Согласование"=>16], ["Проект"=>10] ]
-#= timeline [ ["Washington", "1789-04-29", "1797-03-03"], ["Adams", "1797-03-03", "1801-03-03"], ["Jefferson", "1801-03-03", "1809-03-03"] ]
-#= bar_chart data, id: 'graph', discrete: false