%h3
  Значения метрики за
  =@current_period_date.strftime('%b %Y')

%table
  %tr
    %th=@current_period_date.strftime('%Y')
    -(@current_period_date.beginning_of_month.day..@current_period_date.end_of_month.day).each do | d |
      %th{ :style => "width:10%" }
        =d
  %tr
    %td=@metric.shortname
    -d = 1
    -@values.each do |value|
      -if value.dtime.day > d
        -(d..value.dtime.day - 1).each do |dm|
          %td
            = link_to "+" , metric_path(@metric) + '/new_value'
          -d = value.dtime.day
      %td
        =link_to value.value, edit_metric_value_path(value.id)
        =link_to image_tag('action_stop.gif', :alt => 'Удалить'), value, data: { confirm: 'Значение за ' + value.dtime.strftime(@datetime_format) + " = " + value.value.to_s + "\nДействительно хотите удалить?" }, :method => 'delete', class: 'button-img'
      -d = d + 1

    -if d < @current_period_date.end_of_month.day
      -(d..@current_period_date.end_of_month.day).each do |dm|
        %td
          = link_to "+" , metric_path(@metric) + '/new_value'


.apple_pagination
  .pagination
    = link_to "&#8592;&nbsp;".html_safe  + @prev_period_date.strftime('%b %Y'), metric_path(@metric) + '/values?' + 'date=' + @prev_period_date.strftime('%Y-%m-01'), :class => 'previous_page' if @prev_period_date
    = link_to @next_period_date.strftime('%b %Y').html_safe + "&nbsp;&#8594;".html_safe ,  metric_path(@metric) + '/values?' + 'date=' + @next_period_date.strftime('%Y-%m-01'), :class => 'next_page' if @next_period_date
