.columns
  .column.is-8
    = simple_form_for @user_requirement, :url => update_user_requirement_path, :html => { :multipart => true } do |f|
      = f.error_notification
      = f.hidden_field :requirement_id
      = f.error :base
      .field.is-horizontal
        .field-label
          %label.label Исполнитель: 
        .field-body
          .field
            %p.control.has-icons-left
              %input.input{"data-autocomplete" => "/users/autocomplete", :name => "user_requirement[user_name]", :type => "text", :placeholder => "ФИО нового исполнителя"}/
              %span.icon
                %i.fas.fa-user
        .field-body
          .field
            %label
              %input{:type => "checkbox", :name => "user_requirement[status]", :value => "1" }
              отв.
          .control
            %button.button.is-link Добавить
  .column
