= simple_form_for(@requirement) do |f|
  = f.error_notification
  = f.hidden_field :letter_id
  = f.input :label, as: :text
  -if @requirement.date
    = f.input :date, :as => :string, :input_html => {:class=>'datepicker', :value => @requirement.date.strftime("%d.%m.%Y")}
  -else
    = f.input :date, :as => :string, :input_html => {:class=>'datepicker', :value => Time.current.strftime("%d.%m.%Y")}

  = f.input :duedate, :as => :string, :input_html => {:class=>'datepicker'}
  = f.input :source if !@requirement.letter
  = f.input :body, as: :text
  = f.hidden_field :status
  %br
  = f.label :Статус
  = f.select :status_name, REQUIREMENT_STATUS.keys
  = f.input :result, as: :text
  = f.label 'Автор'
  = f.autocomplete_field :author_name, autocomplete_users_path
  -if @requirement.letter
    %p
    = "требование создано на основании: Вх.№ #{@requirement.letter.number} от #{@requirement.letter.date.strftime('%d.%m.%Y')}"
    = "[#{@requirement.letter.subject}]"
    %br
    = "#{@requirement.letter.body}"

  %p
  = f.button :submit
