- if @tasks
  %h3 Задачи для реализации данного требования:
  %table
    %tr
      %th= sortable 'id', '#'
      %thМетка, обозначение
      -# %thСодержание
      %th= sortable 'duedate', 'Срок'
      %th= sortable 'status', 'Статус'
      %thОтветственные
      %thЧто сделано
    - @tasks.each do |task|
      %tr
        %td= "##{task.id}"
        %td= link_to task.name, task
        %td
          -if task.duedate
            -if task.status < 90 and task.duedate <= Date.current
              %span{:style => "color: red;"}
                = task.duedate.strftime("%d.%m.%y")
            -else
              = task.duedate.strftime("%d.%m.%y")
            -if task.completion_date
              -if task.completion_date > task.duedate
                %br
                  %span{:style => "color: red;"}
                    = task.completion_date.strftime("%d.%m.%y")
        %td= TASK_STATUS.key(task.status)
        %td
          -task.user_task.each do |user_task|
            -if user_task.user
              - s = "#{user_task.user.displayname}"
              - s += "\u2713".html_safe if user_task.responsible?   # пометим ответственного
              = link_to s, user_task.user
            -else
              удалить ссылку
              = user_task.inspect
        %td= truncate(task.result, :length => 100, :omission => ' ...')
