- if @usr.bproce.count > 0
  %h3
    Владелец
    = link_to 'процессов:', bproces_path + '?user=' + @usr.id.to_s

  - @usr.bproce.order(:lft).each do |bproce|
    = "——" * (bproce.depth)
    = "[ #{bproce.shortname} ]" if bproce.shortname
    = "\u2713".html_safe if bproce.checked_at
    = link_to bproce.name, bproce_path(bproce)
    .id_show_
      = "##{bproce.id}"
    %br
