- if @documents.count > 0
  %h3
    Отвечает за 
    = link_to 'внутренние документы:', documents_path + '?user=' + @usr.id.to_s
  - @documents.each do |doc|
    %li= link_to doc.name, document_path(doc)
