#Documents
  = render 'user_documents' # избранные (наначенные) документы пользователя
  = render 'user_busines_documents'
  = link_to 'Официальное письмо', create_letter_home_path(@usr), class: :button


