#Executes
-if @letters.any?
  %h2
    Незавершенные
    = link_to "Письма (#{@letters.count})", letters_path(user: @usr)
    \:
  %table
    %tr
      %th #
      %th Исх.№
      %th [ Тема ]
      %thКорреспондент
      %thСрок
      %thСтатус

    -# letters.select('letters.status, count(letters.id) as count').group(:status).each do | letter |
    - @letters.each do |letter|
      %tr
        %td
          .id_show_ ##{letter.id}
        %td
          - if letter.in_out > 1
            %div.h2{style: 'display: inline; color: #eee; background-color: #000;'}
              #{LETTER_DIRECTION.key(letter.in_out)[0..2]}:
            = link_to image_tag('out_mail.png', size: "24") + "№#{letter.regnumber}", letter
            = "от #{letter.regdate.strftime('%d.%m.%y')}" if letter.regdate
            на
          = link_to "№#{letter.number}", letter
          = "от #{letter.date.strftime('%d.%m.%y')}" if letter.date
        %td= link_to letter.subject, letter
        %td= letter.sender
        %td
          -if letter.duedate
            -if letter.status < 90 and letter.duedate <= Date.current
              %span{:style => "color: red;"}
                = letter.duedate.strftime("%d.%m.%y")
            -else
              = letter.duedate.strftime("%d.%m.%y")
            -if letter.completion_date
              -if letter.completion_date > letter.duedate
                %br
                  %span{:style => "color: red;"}
                    = letter.completion_date.strftime("%d.%m.%y")
        %td
          -# если текущий пользователь еще не отметился в result
          -if /(\d\d\:){3} #{current_user.displayname}/.match(letter.result).blank?
            = link_to LETTER_STATUS.key(letter.status), edit_letter_path(letter), style: 'color: red;'
          -else
            = LETTER_STATUS.key(letter.status)


-if @tasks.any?
  %h2
    Незавершенные
    = link_to "Задачи (#{@tasks.count})", tasks_path(user: @usr)
    \:
  %table
    %tr
      %th #
      %th Название
      %thСрок
      %thСтатус

    - @tasks.each do |task|
      %tr
        %td
          .id_show_ ##{task.id}
        %td= link_to task.name, task
        %td
          -if task.duedate
            -if task.status < 90 and task.duedate <= Date.current
              %span{:style => "color: red;"}
                = task.duedate.strftime("%d.%m.%y")
            -else
              = task.duedate.strftime("%d.%m.%y")
            -if task.completion_date
              -if task.completion_date > task.duedate
                %br
                  %span{:style => "color: red;"}
                    = task.completion_date.strftime("%d.%m.%y")
        %td
          = '!' if current_user && task.author_id == current_user.id
          -# если текущий пользователь еще не отметился в result
          -if /(\d\d\:){3} #{current_user.displayname}/.match(task.result).blank?
            = link_to TASK_STATUS.key(task.status), edit_task_path(task), style: 'color: red;'
          -else
            = TASK_STATUS.key(task.status)

-if @requirements_ids.size > 0
  %h2
    Незавершенные
    = link_to "Требования (#{@requirements_ids.size})", requirements_path(user: @usr)
    \:
  %table
    %tr
      %th #
      %th Метка, обозначение
      %th Срок
      %th Статус

    - @requirements.each do |requirement|
      %tr
        %td
          .id_show_ ##{requirement.id}
        %td
          = link_to requirement.label, requirement
          = requirement.date.strftime("%d.%m.%Y")
        %td
          -if requirement.duedate
            -if requirement.status < 90 and requirement.duedate <= Date.current
              %span{:style => "color: red;"}
                = requirement.duedate.strftime("%d.%m.%y")
            -else
              = requirement.duedate.strftime("%d.%m.%y")
        %td
          = '!' if current_user && requirement.author_id == current_user.id
          = REQUIREMENT_STATUS.key(requirement.status)
