-title 'Сотрудник ' + @usr.displayname
-search 'Человека'
%h1{style: ('text-decoration: line-through;' if !@usr.active)} 
  %b
    = @usr.lastname
  = @usr.firstname
  = @usr.middlename.to_s + ','
  = @usr.position

  .round-image-50
    = link_to image_tag(@usr.avatar.url(:mini)), avatar_create_user_path(@usr), :remote => true

-if user_signed_in?
  -if current_user.id == @usr.id
    -if @usr.avatar.file?
      #update_file
        = link_to 'Удалить фото', avatar_delete_user_path(@usr)
    -else
      #update_file
        = link_to 'Заменить фото', avatar_create_user_path(@usr), :remote => true
#tabs
  %ul
    %li
      = link_to(execute_user_path(@usr)) do
        %span К исполнению
    %li
      = link_to(uroles_user_path(@usr)) do
        %span Роли
    %li
      = link_to(processes_user_path(@usr)) do
        %span Процессы
    %li
      = link_to(documents_user_path(@usr)) do
        %span Документы
    %li
      = link_to(contracts_user_path(@usr)) do
        %span Договоры
    %li
      = link_to(resources_user_path(@usr)) do
        %span Ресурсы
    %li
      = link_to(uworkplaces_user_path(@usr)) do
        %span Общее
  
%p
-if can? :assign_roles, User
  = link_to 'Edit', edit_user_path(@usr), :class => 'button'
= link_to 'Back', users_path, :class => 'button'
-if can? :update, Bproce
  = link_to 'Распоряжение', order_user_path(@usr), class: :button
  = link_to 'Пропуск', pass_user_path(@usr), class: :button
= link_to 'Официальное письмо', create_letter_home_path(@usr), class: :button
