связь документ - директива
-if activity.trackable
  = link_to activity.trackable.document_id.to_s + '-' + activity.trackable.directive_id.to_s, activity.trackable
-else
  \#
  = activity.trackable_id
  уже удалена