%h1 Бизнес-процессы: Первый шаг

%h2 Легенда
=link_to "Процесс", bproces_path
описывается 
= link_to "Документами", documents_path
%br
=link_to "Документ", documents_path
всегда относится к одному конкретному 
=link_to "Процессу", bproces_path

%p
При выделении
=link_to "Процеса", bproces_path
ему назначается уникальное название, определяется цель, выделяются
=link_to "Роли", roles_path
определяются ресурсы (например, 
=link_to "Приложения", bapps_path
)
%p
=link_to "Роль", roles_path
всегда относится к одному конкретному 
=link_to "Процессу", bproces_path
%br
Обозначение
=link_to "Роли", roles_path
может быть не уникально, но в одном
=link_to "Процессе", bproces_path
нельзя использовать одинаковые
=link_to "Роли", roles_path

%p
=link_to "Исполнитель", staffs_path
участвует в 
= link_to "Процессе", bproces_path
и исполняет назначенные ему
= link_to "Роли", roles_path
%p
=link_to "Исполнитель", staffs_path
находится на
= link_to "Рабочем месте", workplaces_path
и использует в своей работе 
=link_to "Приложения", bapps_path


%p
