- if can? :edit_document, @document || current_user && current_user.id == @document.owner_id
  #add_file
    = link_to 'Добавить файл', file_create_document_path(@document), :remote => true, class: 'floating-box'
