- if @document.id? # ну какие ссылки на директивы для нового документа
  %h3 Относится к следующим процессам:
  - @document.bproce_document.each do |bproce_document|
    - if bproce_document.bproce_id
      - if bproce_document.bproce
        = link_to bproce_document.bproce.name, bproce_path(bproce_document.bproce)
      - else
        = bproce_document.inspect
      (
      = bproce_document.purpose
      )
      - if can? :update, @document
        = link_to image_tag('action_stop.gif', alt: 'Удалить'),
                  bproce_document,
                  data: { confirm: bproce_document.bproce.name + "\nДействительно хотите удалить документ из этого процесса?" },
                  method: 'delete',
                  class: 'button-img' if bproce_document.bproce
