default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV['DATABASE_URL'] %>
  port: 5432
  database: bp1step
  username: postgres
  password: secret

development:
  <<: *default
  database: bp1step-dev

test:
  <<: *default
  database: bp1step-test

production:
  <<: *default
  host: <%= ENV['DATABASE_URL'] %>
  username: bp1step
  password: secret


staging:
  <<: *default

production_MSSQL:
  adapter: sqlserver
  encoding: unicode
  database: bp1step
  host:     db
  username: mssql
  password: secret
