# SQLite version 3.x
#   gem install sqlite3
development_sqlite3:
#development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

# gem install pg
#development_pg:

default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: bp1step-user
  password: bp1step-password

development:
  <<: *default
  host: postgres
  database: bp1step

production:
  <<: *default
  host:     localhost
  database: bp1step

test:
  adapter: sqlite3
  database: db/test
  pool: 5
  timeout: 5000
