default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: bp1step-user
  password: bp1step-password

development:
  <<: *default
  host: postgres
  database: bp1step

production:
  <<: *default
  host:     postgres
  database: bp1step

test:
  adapter: sqlite3
  database: db/test
  pool: 5
  timeout: 5000
  database: db/development.sqlite3
  username: bp1step-user
  password: bp1step-password
