authorizations: &AUTHORIZATIONS
  host: ldap.example.ru
  port: 389
  attribute: sAMAccountName
  base: DC=example,DC=ru
  admin_user: CN=bp1step,OU=Services,DC=example,DC=ru
  admin_password: admin-password
  ssl: false

## Enviornments

development:
  <<: *AUTHORIZATIONS

test:
  <<: *AUTHORIZATIONS

production:
  <<: *AUTHORIZATIONS

staging:
  <<: *AUTHORIZATIONS
