-if @letter.id? # ну какие ссылки на сканы для нового договора
  - if @letter.letter_appendix.count > 0
    %h3 Файлы (сканы):
    - @letter.letter_appendix.each do |letter_appendix|
      -if can? :update, letter_appendix
        =link_to letter_appendix.name, edit_letter_appendix_path(letter_appendix)
      -else
        = letter_appendix.name
      = ' ("' + letter_appendix.scan_file_name + '": ' + letter_appendix.scan_updated_at.strftime('%d.%m.%Y %H:%M:%S') + ' ' + letter_appendix.scan_file_size.to_s + ")"
      -if can? :update, letter_appendix
        =link_to image_tag('action_stop.gif', :alt => 'Удалить'), letter_appendix, data: { confirm: 'Файл "' + letter_appendix.scan_file_name  + '": ' + letter_appendix.scan_updated_at.strftime('%d.%m.%Y %H:%M:%S') + "\nДействительно хотите удалить из письма ##{letter_appendix.letter.id} ?" }, :method => 'delete', class: 'button-img'
      %br