-title "Каталог Ролей"
%h2
  Роли процесса
  = link_to @bp.name, bproce_path(@bp)

%table
  %tr
    %th Роль
    %th Назначение в процессе
  

  -@business_roles.each do |ro|
    %tr
      %td= link_to ro.name, business_role_path(ro)
      %td= ro.description
