.id_
  \#
  =@document_directive.document.id
%h2
  Документ:
  = link_to @document_directive.document.name, @document_directive.document
%h3
  разработан на основании:
  = link_to @document_directive.directive.midname, @document_directive.directive
