%h2
  Приложения процесса
  = link_to @bp.name, edit_bproce_path(@bp)

%table
  %tr
    %thНаименование
    %thНазначение в процессе
    %thОписание
  

  -@bpapps.each do |bapp|
    %tr
      %td
      %td= bapp.apurpose
      %td
  -@bapps.each do |bapp|
    %tr
      %td= link_to bapp.name, edit_bapp_path(bapp)
      %td
      %td= bapp.description

