-title 'Процесс'
-search "Процесс"
%h2 Новый подпроцесс
= render partial: 'parent', locals: { parent_id: @parent.id, parent_name: @parent.name }
= render partial: 'owner', locals: { owner_id: @bproce.user_id, owner_name: @bproce.user&.displayname }
= render 'form'

%p
= link_to 'Back', bproces_path, :class => 'button'
