.simple_form {
  div.input {
    margin-bottom: 5px;
    clear: both;
  }
  label {
    float: left;
    width: 110px;
    text-align: right;
    margin: 0.5em;
  }
  box-shadow: 2px 2px 4px #aaa;
  background: white;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 110px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: red;
  display: table;
  padding: 2px;
}

.simple_form {
  .error {
    clear: left;
    color: red;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #666699;
    display: block;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}