body {
  font-size:75%;color:#222;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width:960px;
  margin:0.5em auto;
  background: white;
  padding: 0.5em 0.5em 0.5em 1em;
  box-shadow: 2px 2px 8px #aaa;
}
h1,h2,h3,h4,h5 {
  background-color: #eee;
  margin:0.5em 0 0.5em 0;}

a {  padding: 2px 5px 2px;
}

a:hover {  color: #fff;
  background-color: #336699;
  border-radius: 5px;
}
.nav {  display: block;
  white-space: nowrap;
  margin: 0 5px 0 0;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: #ddd;
  line-height: 22px;
  text-transform: uppercase;
}
.nav li {  display: block;
  float: left;
}
.nav li a {  padding: 7px 10px 7px;
  text-decoration: none;
}
.nav li a:hover {
  border-radius: 0px;
  color: #fff;
  background-color: #000;
  background:linear-gradient(#000, #e2e2e2);
}

.nav li.current a{
  padding: 5px 7px 5px;
  color: #fff;
  background-color: #993300;
  background:linear-gradient(#993300, #e2e2e2);
}

#menu {
  background: #FFCC99;
  box-shadow: 2px 2px 4px #aaa;
}
th {
  background: #ddd;
}
th .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
th .asc {   
  background-image: url(/images/up_arrow.gif);   
}  
  
th .desc {   
  background-image: url(/images/down_arrow.gif);   
}
a.button,
.button {
  border:1px solid #9a9a9a;
  text-align:center; 
  text-decoration:none;
  border-radius:3px;
  box-shadow:rgba(0, 0, 0, 0.8) 0px 2px 3px;
  background:#fff;
  background:linear-gradient(#fff, #e2e2e2);
  color:#111;
  font-size:14px;
  padding: 3px 20px;
  display:inline-block;
}
a.button:hover,
.button:hover {
  border:1px solid #5a5a5a;
  background:linear-gradient(#e2e2e2, #fff);
}
a.button:active,
.button:active {
  color:#666;
  box-shadow:#5a5a5a 0px 3px 5px inset;
}

logo {
  position  : relative;
  width   : 100%; /* for IE 6 */
}

logo_text {
  position: absolute;
  top: 29px;
  left: 0;
  width: 100%;
}
logo_text span {
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.3);
}
#flash_notice {
  color: #336633;
  background-color: #CCFFCC;
}

.tags, a.tags {
  color: #996633;
  box-shadow: 1px 1px 2px #330000;
  background-color: #FFCC99;
  border-radius: 3px;
  text-decoration: none;
}

a.tags:hover {
  color: #FFCC99;
  background-color: #993300;
}

.button-img, a.button-img, a.button-img:hover {
  padding: 0px 0px;
  background: transparent;
}