-if activity.trackable
  = 'связал (#' + activity.trackable.id.to_s + '): документ ['
  = link_to activity.trackable.document.name, document_path(activity.trackable.document)
  ] с процессом
  = link_to activity.trackable.bproce.name, bproce_path(activity.trackable.bproce)
-else
  связь документа с процессом
  \#
  = activity.trackable_id
  уже удалена