!!! 5
%html{ lang: 'ru' }
  %head
    %title
      BP1Step: #{yield (:title) || "Business Process 1st Step"}
    %meta{ charset: 'utf-8' }
    = favicon_link_tag 'favicon.ico'
    -#= stylesheet_link_tag 'blueprint/print', :media => "print"
    -#= stylesheet_link_tag 'blueprint/screen'
    -#= stylesheet_link_tag 'pagination'
    -#= stylesheet_link_tag 'simple_form'
    -#= stylesheet_link_tag 'style'
    -#= stylesheet_link_tag 'autocomplete'
    = stylesheet_link_tag    "application"
    = yield :css
    = javascript_include_tag "application"
    -#- if params[:controller] == 'metrics'  # and params[:controller] == 'bproces'
      -#= javascript_include_tag "//www.google.com/jsapi", "chartkick"
    -#= javascript_include_tag "jsapi", "chartkick"
    = yield :js

    = csrf_meta_tag
    = yield(:head)
  %body
    .container
      #header.span-24.last
        %logo.span-7
          =link_to image_tag("logo.png", alt: 'Home', height: 50), '/', class: 'button-img'
        #search.span-9
          -if params[:controller] == 'pages' or params[:controller] == 'activities' or params[:controller] == 'bproce_business_roles'
            &nbsp;
          -else
            %form.inline{:method => "get"}
              %input{:name => "search", :type => "search", :value => params[:search], :placeholder => "искать #{yield (:search)}", required: :true}
              -#%button{type: 'submit'} Искать
            %sup введите подстроку поиска
            
        #users.span-8.last
          .right
            - if user_signed_in?
              = link_to current_user.displayname, user_path(current_user)
              %small
                = current_user.last_sign_in_at&.strftime('%d.%m.%y %H:%M:%S')
              -#.round-image-50
                = link_to image_tag(current_user.avatar.url(:thumb)), user_path(current_user, anchor: "Places")
              %br= link_to "Выйти", destroy_user_session_path, method: :delete

            - else
              = link_to "Войти", new_user_session_path
        #menu.span-24.last
          %ul.nav
            =content_tag(:li, :class => nav_current(bproces_path)) do
              =link_to "Процессы", bproces_path
              %ul.nav
                =nav_link "Процессы", bproces_path
                - if user_signed_in?
                  -if can? :crud, Metric
                    =nav_link "Метрики", metrics_path + '?sort=name'
            =content_tag(:li, :class => nav_current(business_roles_path)) do
              =link_to "Ресурсы", business_roles_path
              %ul.nav
                =nav_link "Роли", business_roles_path
                =nav_link "Места", workplaces_path
                =nav_link "Приложения", bapps_path
                =nav_link "Инф.ресурсы", iresources_path
            =content_tag(:li, :class => nav_current(bproces_path)) do
              =link_to "Документы", documents_path
              %ul.nav
                =nav_link "Документы", documents_path
                =nav_link "Директивы", directives_path
                =nav_link 'Термины', terms_path
                - if user_signed_in?
                  -if can? :show, Contract
                    =nav_link "Договоры", contracts_path
                    =nav_link "Контрагенты", agents_path
            -if user_signed_in?
              =content_tag(:li, :class => nav_current(tasks_path)) do
                =link_to 'Задачи', letters_path
                %ul.nav
                  = nav_link 'Письма', letters_path
                  = nav_link 'Задачи', tasks_path 
                  = nav_link 'Требования', requirements_path
            =nav_link "Сотрудники", users_path
          %ul.nav{:style => "float:right"}
            -#%li Настройки
            =nav_link "?", '/about'
      #main.span-24.last
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      %hr
      #footer.span-18
        &copy;
        %a{:href => "/"} BP1Step
        2012-2018
      #footer.span-4
        rev.
        = "#{Git::REVISION}"[0..6]
      #footer.span-2.last
        - if user_signed_in?
          - if can? :assign_roles, User
            .right
              = link_to 'Monit', root_url(port: 2812, only_path: false)
